/*.tab_img{*/
    /*width: 200px;*/
/*}*/

.image-box{
    width: 200px;
    text-align: center;
    padding: 0 50px;
}
.tab_img{
    width: 100px;
    margin: 0 50px;

}
td:nth-child(4) {
    text-align: center;
    vertical-align: middle;
}
.image-inner{
    display: flex;
    justify-content: space-between;
    padding: 1px;
    max-height: 250px;
}



.img-item{
    height: 200px;
    display: inline-block;
    padding: 1px;
    margin: 1px;
}
li img{
    max-width: 200px;
    vertical-align: middle;

}

.img_overlay{
    display: none;
background: rgba(0, 0, 0, 0.4);
width: 60px;
height: 60px;
z-index: 1000;
position: absolute;
    top: 30%;
    left: 30%;
}

.img_icon_reload{
    position: relative;
    background: url('/admin/images/icons/reload.ico') no-repeat ;
    background-size: cover;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: 20px;
    /*margin-top: 80px;*/
    /*margin-left: 50px;*/
}
.img_icon_delete{
    position: relative;
    background: url('/admin/images/icons/delete.png') no-repeat ;
    background-size: cover;
        width: 20px;
        height: 20px;
   margin-left: 40px;
    margin-top: -20px;
}

.form_inner{
    display: none;
    background: rgba(27, 148, 189, 0.8);
    width: 300px;
    height: 320px;
    position: relative;
    z-index: 1100;
    margin-top: -350px;
    margin-left: 450px;
    border-radius: 10px;

}
.form_inner .btn{
    position: relative;
    margin-top: 270px;
    margin-left: 100px;
}
.form_inner input{
    margin-top: 240px;
    margin-left: 90px;
    position: absolute;
    z-index: 1200;
}
.img-form-keeper img{
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: 10px;
    margin-left: 50px;
}
.main_image{
    display: block;
    margin: 0 20px;
    width: 100%;
}
.main_image img{
    width: 200px;
}

#new-img-add img{
    width: 100px;

}
.galleryContainer{
    margin: 20px 0;
    border: 1px solid grey;
}
#img_galery{
    margin: 10px 0;
}
.image {
    /*height: 170px;*/
    object-fit: cover;
     object-position: 0 25%;
    width: 100%;
}

.langselect{
    padding-top: 16px;
}

.img-item img{
    width: 180px;
    margin: 0 20px;
}
#new-img-add{
    position: absolute;
}
.form_inner .img_icon_delete{
    position: absolute;
    left: 230px;
    top: 30px;
}


